<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <section id="header">
        <div class="container">
            <div class="main">
                <div class="box1">
                    <a href="#"> <b>BR</b> Architects </a>
                </div>
                <div class="box2">
                    <ul>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image">
            <span class="BR">BR</span> <span class="Architects">Architects</span>
        </div>
    </section>

    <!-- ---------------------------------------------------- -->

    <section id="projects">
        <div class="container">
            <div class="main">
                <h1>Projects</h1>
                <hr>
                <div class="boxes">
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h6>Summer House</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------- -->

    <section id="about">
        <div class="container">
            <div class="main">
                <h1>About</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis magni quas repellat itaque eos
                    tempore voluptas, dolores facilis id corporis eveniet accusamus totam praesentium a reiciendis! Ea
                    nesciunt facere praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus qui
                    ea quam. Nostrum rem numquam quae odit eligendi ratione quis eveniet, error totam? Corporis labore
                    alias delectus optio ea aliquid! Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde a
                    eius nulla laudantium, minima numquam corrupti aliquam repellendus blanditiis consequatur, ab
                    debitis facilis iste recusandae incidunt quo modi illo officiis.</p>
                <div class="boxes">
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h2>John Doe</h2>
                        <h4>CEO & Founder</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ratione reprehe nderit rerum
                            vitae consequatur illo, perspiciatis.</p>
                        <button>Contact</button>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h2>John Doe</h2>
                        <h4>CEO & Founder</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ratione reprehe nderit rerum
                            vitae consequatur illo, perspiciatis.</p>
                        <button>Contact</button>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h2>John Doe</h2>
                        <h4>CEO & Founder</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ratione reprehe nderit rerum
                            vitae consequatur illo, perspiciatis.</p>
                        <button>Contact</button>
                    </div>
                    <div class="box">
                        <img src="./image/house5.jpg" alt="">
                        <h2>John Doe</h2>
                        <h4>CEO & Founder</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ratione reprehe nderit rerum
                            vitae consequatur illo, perspiciatis.</p>
                        <button>Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------------------------------- -->

    <secction id="contact">
        <div class="container">
            <div class="main">
                <h1>Contact</h1>
                <hr>
                <h5>Lets get in touch and talk about your next project.</h5>
                <form action="">
                    <input type="text" placeholder="Name" required name="Name">
                    <input type="email" placeholder="Email" required name="Email">
                    <input type="text" placeholder="Subject" required name="Subject">
                    <input type="text" placeholder="Comment" required name="Comment">
                    <button type="submit">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </secction>

</body>

</html>